*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%;
}

body {
  height: 100vh;
  box-sizing: border-box;
  font-family: 'Rubik', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

q {
  line-height: 1.7;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 11px;
  padding: 5rem;
  height: auto;
  width: 120rem;
  max-width: 95%;
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 5rem;
  box-shadow: 0 3rem 4rem rgba(0,0,0,0.4);
}

.card__imgBox {
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.card__img {
  width: 100%;
}

.card__info {
  padding: 1rem;
}

.card__icon {
  font-size: 5.2rem;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 3rem;
}

.card__text {
  margin-bottom: 3rem;
}

.card__quote {
  display: block;
  font-weight: 900;
  font-size: 2.4rem;
  margin-bottom: 8rem;
}

.card__author {
  display: block;
  text-align: right;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
}

.btnBox {
  display: flex;
  justify-content: flex-start;
}

.btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1.8rem;
  font-family: inherit;
  transition: all .4s;
}

.btn:hover {
  transform: translateY(-5px);
  box-shadow: 0 2rem 3rem rgba(0,0,0,0.15);
}

.btn:active {
  transform: translateY(0);
  box-shadow: 0 2rem 3rem rgba(0,0,0,0.15);
}